.idea/*
# All directories starting with build in the repository root
/build*
.vscode/*
*.png
*.asv
/documentation
Dataset/
Results/
backup/

*.pt
*.pth
*.ckpt
*.onnx

build/
devel/
install/
log/

*.bag
*.db3
*.zip
*.tar
*.tar.gz

.vscode/
.idea/
